# Python
.venv/
venv/
__pycache__/
*.pyc
.env
.pytest_cache/

# Data / Large Files
*.xlsx
*.docx
*.jsonl
law_crawler/data/
*.txt
data/
logs/
# IDE
.vscode/

# Ignore database files if any
*.sqlite3
*.db
models/
CLAUDE.md